html {
    background-color: white;
    background: url("../img/triangles-eee.png"), #eee;
}

body {
    color: #555555;
    max-width: 960px;
    width: 90vw;
    margin: 0 auto;
    font-family: 'Exo 2', sans-serif;
}

.page-header {
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	background: url('../img/triangles-b17.png'), #b17;
	font-weight: 400;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	padding: 24px;
	box-sizing: border-box;
}

.generator-selector {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background: url('../img/triangles-333.png'), #333;
	font-weight: 400;
	text-transform: uppercase;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	padding: 16px;
	margin-bottom: 24px;
	box-sizing: border-box;
	text-align: left;

	.generator-selector-container {
		width: 100%;
		display: flex;

		.generator {
			background-color: #444;
			color: #fafafa;
			padding: 8px;
			border-radius: 4px;
			cursor: pointer;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
			text-align: center;
			margin-right: 16px;
			width: 128px;
			vertical-align: top;
			flex: 0 0 128px;

			img {
				display: block;
				border-radius: 4px;
				margin-bottom: 8px;
			}

			span {
				display: block;
			}

			display: inline-block;

			transition: 175ms all ease;

			&.active {
				background-color: #fff;
				color: #333;

				&:hover {
					background-color: #fff;
					color: #333;
				}
			}

			&:hover {
				background-color: #555;
				color: #fafafa;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

.title {
    font-weight: 400;
    font-size: 2.75em;
    text-align: center;
    display: block;
}

.shameless-self-promotion {
    font-size: 0.8em;
    text-align: center;
    display: block;
}

header {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background: url('../img/triangles-b17.png'), #b17;
    font-weight: 400;
    text-transform: lowercase;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    padding: 16px;
    box-sizing: border-box;
}

article {
    padding: 18px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    margin: 0 0 24px 0;
    box-sizing: border-box;
}

ul.colours {
    list-style: none;
    display: block;
    margin: 0 auto;
    text-align: center;

    li {
        display: inline-block;
        padding: 12px;
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        color: white;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        margin: 4px;
        transition: 225ms ease;
        border: 2px solid transparent;
        cursor: pointer;

        &.selected {
            border: 2px solid #FFF;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45),
                0 0 6px rgba(0, 0, 0, 0.15),
                0 1px 3px rgba(0, 0, 0, 0.25) inset;
        }

        &:hover {
            border: 2px solid #FFF;
            box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
        }
    }
}

ul.modes {
    list-style: none;
    display: block;
    margin: 0 auto;
    text-align: center;

    li {
        display: inline-block;
        padding: 12px;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        color: white;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        margin: 4px;
        transition: 225ms ease;
        border: 2px solid transparent;
        cursor: pointer;
        background-color: #555555;
        width: 86px;
        text-align: center;

        &.selected {
            background-color: #b17;
            border: 2px solid #f6a;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),
                0 0 6px rgba(0, 0, 0, 0.15),
                0 1px 3px rgba(0, 0, 0, 0.25) inset;
        }

        &:hover {
            border: 2px solid #fff;
            box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
        }

        img {
            width: 100%;
            display: block;
        }

        span {
            display: block;
            text-align: center;
            margin: 12px 0 0 0;
        }
    }
}

label {
    display: block;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 8px;
}

input[type=text], input[type=number], select {
    outline: none !important;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 8px 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    font-family: 'Exo 2', sans-serif;
    display: inline-block;
    margin: 0 auto;
    transition: 225ms all ease;
    background: #fff;

    &:active, &:focus {
        border: 1px solid #B17;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    }

    &:disabled {
        background: #eee;
        border: 1px solid transparent !important;
    }
}

img.preview {
    display: block;
    margin: 0 auto;
	max-width: 100%;
	height: auto;
}

.lazy {
    background: url('../img/loading.gif') no-repeat 50% 50%;
    border-radius: 2px;
}

a.button {
    background: #eee;
    padding: 8px 24px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    color: #555;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    display: inline-block;
    margin: 0 auto;
    transition: 175ms all ease;
    cursor: pointer;
    outline: none;
    border: none;

    &:hover {
        background-color: #f8f8f8;
    }

	&:active {
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
		background-color: #eaeaea;
	}
}

.ppmodes {
    list-style: none;
    display: block;
    margin: 0 auto;
    text-align: center;

    li {
        display: inline-block;
        padding: 12px;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        color: white;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        margin: 4px;
        transition: 225ms ease;
        border: 2px solid transparent;
        cursor: pointer;
        background-color: #555555;
        text-align: center;

        &.selected {
            background-color: #b17;
            border: 2px solid #f6a;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),
                0 0 6px rgba(0, 0, 0, 0.15),
                0 1px 3px rgba(0, 0, 0, 0.25) inset;
        }

        &:hover {
            border: 2px solid #fff;
            box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
        }
    }
}

.twocol {
    width: 100%;
    display: flex;
    flex-direction: row;

    .twocol-col {
        width: 100%;
        box-sizing: border-box;
        text-align: left;
    }

    span {
        display: block;
        margin-bottom: 12px;

        input, select {
            display: inline-block;

            &.smallnumber {
                margin: 0 16px 0 0;
                padding: 4px 6px;
                width: 80px;
            }
        }

        select {
            margin: 8px 0;
        }
    }
}

@media (max-width: 767px) {
    .twocol {
        flex-direction: column;
    }
}